.ana{
    width: 2000px;
    font-weight: 1000px;
}

.baslangic
{
    margin-top: 60px;
    width: 1903px;
    height: 1080x;
}

.icons{
    position: absolute;
    margin-top:5px;
    margin-left:700px;
    font-size:100px;
    font-family: 'Montserrat';
    font-style: normal;
    color: #F27A54;
}

.text1{
    position: absolute;
    margin-top: 200px;
    margin-left: 300px;
    font-size: 30px;
    color: #3C444C;
}

.image1{
    height: 20px;
    width: 30px;
    margin-top: 200px;
    margin-left: 300px;
}

.text2{
    position: absolute;
    margin-top: 260px;
    margin-left: 300px;
    font-size: 30px;
    color:#F27A54
}

.text3{
    position: absolute;
    margin-top: 320px;
    margin-left: 300px;
    font-size: 30px;
    color: #CBCFD4;
    font-style: italic;
    font-family: 'Zilla Slab';
}

.text4{
    position: absolute;
    margin-top: 500px;
    margin-left: 300px;
    font-size: 30px;
    color: #3C444C;
    font-style: italic;
    font-family: 'Zilla Slab';
}

.text5{
    position: absolute;
    margin-top: 560px;
    margin-left: 300px;
    font-size: 30px;
    color: #CBCFD4;
    font-style: italic;
    font-family: 'Zilla Slab';
    color:#F27A54
}

.text6{
    position: absolute;
    margin-top: 620px;
    margin-left: 300px;
    font-size: 30px;
    color: #CBCFD4;
    font-style: italic;
    font-family: 'Zilla Slab';
}

.cizgi{
    margin-top: 40px;
    position: absolute;
    width: 1200px;
    height: 1px;
    left: 290px;
    top: 508px;
    background: #252627;
}

.images1{
    height: 100px;
    width: 100px;;
}

