<div class="ana">
  <div class="colors">
    <p class="colors_a">Colors</p>
  </div>
      <div class="grey">
        <p class="grey_a">Grey</p>
        <div class="a">
          <p class="a1">A</p>
        </div>
          <div class="b">
            <p class="b1">B</p>
          </div>
            <div class="c">
              <p class="c1">C</p>
            </div>
          </div>
      <div class="dark">
          <p class="dark_a">Dark</p>
        </div>
        <div class="primary">
          <p class="primary_a">Primary</p>
      </div>
          <div class="secondary">
             <p class="secondary_a">Secondary</p>
          </div>
            <div class="tertiary">
              <p class="tertiary_a">Tertiary</p>
            </div>

            </div>











