.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.h-custom {
height: calc(100% - 73px);
}

.link-danger { //kayıt ol renk değişimi
  color: black !important;
}

.btn-primary {
  font-weight: bold;
  font-family: cursive;
}

input, button, select, optgroup, textarea {
  margin-left: 10px;
}

.text-body {
  margin-right: 180px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-left: 90px;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  margin-right: 6.5rem;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(rgb(231, 106, 10), var(--bs-bg-opacity)) !important;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 2.5em;
}

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  width: 75%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    --bs-btn-bg: rgb(228, 129, 42); // Buton ana renk
    --bs-btn-border-color: rgb(104, 95, 87); //Buton köşe rengi
    --bs-btn-hover-bg: rgb(228, 129, 42); // Buton üstüne gelinince değişen renk
    --bs-btn-hover-border-color: rgb(114, 103, 93); //Buton üstüne gelindiğinde köşe rengi
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
