.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.h-custom {
height: calc(100% - 73px);
}

.link-danger { //kayıt ol renk değişimi
  color: black !important;
}

.btn-primary {
  font-weight: bold;
  font-family: cursive;
}

input, button, select, optgroup, textarea {
  margin-left: 10px;
}

.text-body {
  margin-right: 180px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-left: 90px;
}

.btn-primary {
    --bs-btn-bg: rgb(228, 129, 42); // Buton ana renk
    --bs-btn-border-color: rgb(104, 95, 87); //Buton köşe rengi
    --bs-btn-hover-bg: rgb(228, 129, 42); // Buton üstüne gelinince değişen renk
    --bs-btn-hover-border-color: rgb(114, 103, 93); //Buton üstüne gelindiğinde köşe rengi
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
