<div class= "Ana">
    <div class="Form">
      <p class = "FormText">FORM ELEMENTS</p>
    </div>
    <div class="sol">
    <div class="Default">
    <div class="y">
      <p class="T1">DEFAULT INPUT </p>
    </div>
   <div class="y">
   <input type="text" id="text" name="text" class="input" placeholder="Type here...">
   </div>
   <div class="y">
    <p class="T1">Field Instructions go right here </p>
  </div>
  </div>
  
  <div class="Default">
    <div class="y">
      <p class="T1">FOCUS / HOVER / VALİD INPUT </p>
    </div>
   <div class="y">
   <input type="text" id="text" name="text" class="input2" placeholder="Lorem Ipsum">
   </div>
   <div class="y">
    <p class="T2">Good job!</p>
  </div>
    </div>
  
    <div class="Default">
      <div class="y">
        <p class="T1">INVALİD INPUT</p>
      </div>
     <div class="y">
     <input type="text" id="text" name="text"  placeholder="Lorem Ipsum" class="input3">
     </div>
     <div class="y">
      <p class="T3">This input is invalid</p>
    </div>
      </div>
  
  
      <div class="Default">
        <div class="y">
          <p class="T1">SELECT INPUT EXPANDED</p>
        </div>
       <div class="y">
      <select id="alan" name="dersler" class="input">
        <option value="ders">Choose something</option>
        <option value="ders">An option here</option>
        <option value="ders">Another option</option>
        <option value="ders">Awesome option here</option>
        <option value="ders">Last option around</option>
        </select>
      </div>
       </div>
  
       <div class="Default">
        <div class="y">
          <p class="T5">DEACTİVED INPUT </p>
        </div>
       <div class="y">
       <input type="text" id="text" name="text" class="input6" placeholder="Type here...">
       </div>
       <div class="y">
        <p class="T5">Field Instructions go right here </p>
      </div>
      </div>
  
      <div class="Default">
        <div class="y">
          <p class="T1">TEXTAREA</p>
        </div>
       <div class="txtarea">
        <textarea rows="7" cols="33">
        Textarea
          </textarea>
       </div>
       <div class="y">
        <p class="T8">180 Characters Left</p>
      </div>
      </div>
  
  
      <div class = "sag">
        <div class="Default2">
          <div class="y">
            <p class="T9">TEXTAREA</p>
          </div>
          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider2" id="myRange">
          </div>
        </div>
  
        <div class="Default2">
          <div class="y">
            <p class="T9">RADIO BUTTONS</p>
          </div>
          <div>
            <input type="radio" id="ad" name="ad" class="radio"> I will
            <input type="radio" id="ad" name="ad" class="radio"> I won't
  
          </div>
          </div>
  
          <div class="Default2">
            <div class="y">
              <p class="T9">CHECKBOXS BUTTONS</p>
            </div>
            <div>
              <input type="checkbox" id="ad" name="ad" class="checkbox"> I will
              <input type="checkbox" id="ad" name="ad" class="checkbox"> I won't
  
            </div>
            </div>
  
            <div class="Default3">
              <div class="y">
                <p class="T9">CHECKBOXS BUTTONS</p>
              </div>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
  
            </label>
            </div>
  
  
            <div class="Default3">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
  
          <div class="Default4">
            <div class="y">
          <div>
            <button type="button" id="button1" class="btn btn-primary btn-lg">Primary Call to Action</button>
            <button type="button" id="button2" class="btn btn-secondary btn-lg">Primary Call to Action</button>
            <button type="button" id="button3" class="btn btn-primary btn-lg">Small Call to </button>
            <button type="button" id="button4" class="btn btn-secondary btn-lg">Secondary Call to Action</button>
            <button type="button" id="button5" class="btn btn-primary btn-lg">Primary Call to Action</button>
            <button type="button"id="button6" class="btn btn-secondary btn-lg">Small Call to </button>
            </div>
            </div>
          </div>
  
  
        </div>
  
  
  
   </div>
  
  
  
  
  </div>