<div class="ana">

  <div class="arkaplan">
      <div class="typography">
        <h1>typography</h1></div>

  </div>
  <div class="etiket1">
      <h1>Lorem Ipsum Dolor
          Sit Amet Consectetur </h1>
    </div>

<div class="etiket2"><h2> Sed ut perspiciatis unde
  omnis iste natus </h2>
</div>

    <div class="etiket3"><h3>Sed ut perspiciatis unde
      omnis iste natus </h3>
   </div>

    <div class="etiket4"><h4>Sed ut perspiciatis unde
      omnis iste natus </h4>
 </div>

    <div class="etiket5"><h5>Sed ut perspiciatis unde
      omnis iste natus </h5>
 </div>

    <div class="etiketp"><p>Sed ut perspiciatis unde
      omnis iste natus</p>
  </div>

    <div class="etiket6"><h6>Label Goes Here</h6>
  </div>

